@model WebApplication1.Models.Person

<div class="container">
    <div class="row">
        <div class="col">ID</div>
        <div class="col-10">
            @Model.id
        </div>
    </div>
    <div class="row">
        <div class="col">First Name</div>
        <div class="col-10">
            @Model.firstName
        </div>
    </div>
    <div class="row">
        <div class="col">Last Name</div>
        <div class="col-10">
            @Model.lastName
        </div>
    </div>
    <div class="row">
        <div class="col">Birthday</div>
        <div class="col-10">
            @Model.dateBirth
        </div>
    </div>
    <div class="row">
        <div class="col">Email</div>
        <div class="col-10">
            @Model.email
        </div>
    </div>
    <div class="row">
        <div class="col">Country</div>
        <div class="col-10">
            @Model.country
        </div>
    </div>
    <div class="row">
        <div class="col">Image</div>
        <div class="col-10">
            @Model.image
            <br/>
            <img src="@Model.image" />
        </div>
    </div>
    
</div>